<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <!-- <meta name="author" content="{{ site.author.name }}"> -->
    <style type="text/css">
      #logo {
         position: fixed;
         top: 50%;
         left: 50%;
         margin-top: -59px;
         margin-left: -304px;
      }

      h1{
        color: #33ccff;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="content">
        {{ content }}
      </div>
    </div> <!-- /container -->
  </body>
</html>